.form_centered {
    width: 400px;
    margin: 0 auto;
    padding: 1em;
    border: 3px solid #FEEFAA;
    background-color: #FFEEFF;
}

body {
    background-color: #EEEEEE;
}

.courier {
    font-family: Courier;
}

.margin_centered {
    width: 700px;
    margin: 0 auto;
    padding: 1em;
}
